.edit {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family:"FontAwesome", Arial, Helvetica, sans-serif;
}

.pencil:before {
    content: "\f040";
}

.editForm {
    display: none;
}