<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/userP.css">
    <link rel="stylesheet" href="../css/cards.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../javascript/form_actions.js" defer></script>
</head>
<body>
<main>

    <div class="profileContainer" id = "profilePage">
        <div class="settingsColumn">
            <div class="profileCard">
                <div class="cardBody">
                    <img src="../images/default_user.png" alt="userImg"
                         class="userImg">
                    <h5 class="username">John Smith</h5>
                </div>
            </div>
            <div class="profileCard" id="settingsCard">
                <div class="optionsBody">
                    <ul class="userSettings">
                        <li class="button">
                            <button class="openButton" onclick="openForm()">Change e-mail</button>
                        </li>
                        <li class="button">
                            <button class="openButton" onclick="openForm()">Change password</button>
                        </li>
                        <li class="button">
                            <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>
                            <p class="mb-0">Change user information</p>
                        </li>
                        <li class="button">
                            <i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>
                            <p class="mb-0">Logout</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="userInfoColumn">
            <div class="profileCard" id="profileInfoCard">
                <div class="cardBody">
                    <div class="row">
                        <div class="titleColumn">
                            <p class="title">Name</p>
                        </div>
                        <div class="infoColumn">
                            <p class="info">Johnatan Smith</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="titleColumn">
                            <p class="title">Email</p>
                        </div>
                        <div class="infoColumn">
                            <p class="info">example@example.com</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="previewTickets">
                <div class="container">
                    <a href="/">
                        <div class="card">
                            <div class="content">
                                <header>
                                    <h2 class="status">open</h2>
                                    <h1>RANDOMSUB</h1>
                                </header>
                                <article>
                                    sadsaddassssssadsdasdsadsdasdsad
                                </article>
                            </div>
                        </div>
                    </a> <a href="/">
                    <div class="card">
                        <div class="content">
                            <header>
                                <h2 class="status">open</h2>
                                <h1>RANDOMSUB</h1>
                            </header>
                            <article>
                                sadsaddassssssadsdasdsadsdasdsad
                            </article>
                        </div>
                    </div>
                </a>
                </div>
                <div class="container">
                    <a href="/">
                        <div class="card">
                            <div class="content">
                                <header>
                                    <h2 class="status">open</h2>
                                    <h1>RANDOMSUB</h1>
                                </header>
                                <article>
                                    sadsaddassssssadsdasdsadsdasdsad
                                </article>
                            </div>
                        </div>
                    </a> <a href="/">
                    <div class="card">
                        <div class="content">
                            <header>
                                <h2 class="status">open</h2>
                                <h1>RANDOMSUB</h1>
                            </header>
                            <article>
                                sadsaddassssssadsdasdsadsdasdsad
                            </article>
                        </div>
                    </div>
                </a>
                </div>
            </div>
        </div>
    </div>
    <div class="changeEmailB" id="popup">
        <form>
            <div class="email-box">
                <label for="email">New e-mail</label>
                <input type="text" placeholder="Enter Email" name="email" id = "email"required>
            </div>
            <button type="submit" class="btn submit">Submit</button>
            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </form>
    </div>
</main>
</body>

</html>